/* ========================================================= */
/* 2. Global Styles & Body */
/* ========================================================= */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    background-color: var(--background-light); /* Nền Body Trắng Sạch */
    background-attachment: fixed; 
}


.header-text h1, .header-text h2, .header-text p {
    color: var(--text-dark);
}

.header-text h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 5px;
    min-width: 300px;
}
.header-text h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 20px;
    min-width: 490px;
}

div > p{
    color: var(--text-dark); 
    font-size: 1.8em;
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    /* XÓA: text-align: justify; và text-justify: inter-word; vì làm đoạn giới thiệu khó đọc */
    /* text-align: justify;
    text-justify: inter-word; */
    
    max-width: 800px;
    /* XÓA: Căn giữa tự động để nó căn trái trong container mới */
    /* margin-left: auto; 
    margin-right: auto; */
    
    font-family: 'Arial', sans-serif;
    padding: 10px;
    border-radius: 10px;
}
